<table>
    <thead>
        <tr>
            <th>Service Name</th>
            <th>Type</th>
            <th style="text-align: center;">Days Left</th>
            <th>Date Created</th>
            <th>Date Scheduled</th>
            <th>Cost</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let data of schedules">
            <td>
                <input *ngIf="data.editable" [(ngModel)] = "data.serviceName" >
                <p  *ngIf="!data.editable">{{data.serviceName}}</p>
            </td>
            <td>
                <input *ngIf="data.editable" [(ngModel)] = "data.type" >
                <p [class]="data.type"  *ngIf="!data.editable">{{data.type}}</p>
            </td>
            <td style="text-align: center;">{{data.daysLeft}}</td>
            <td>{{data.dateCreated}}</td>
            <td>{{data.scheduledFor}}</td>
            <td>
                <input *ngIf="data.editable" [(ngModel)] = "data.cost">
                <p [class]="data.cost"  *ngIf="!data.editable">{{data.cost}}</p>
            </td>
            <td style="text-align: center;">
                <img  *ngIf="!data.editable" src="../../../assets/edit.png" width="12px" style="margin: 0 auto; cursor: pointer;" (click) = "edit(data)">
                <button  *ngIf="data.editable" mat-button (click) = "saveChanges(data)">Save</button>
            </td>
        </tr>
    </tbody>
</table>