<!-- <h2 mat-dialog-title>Create Maintenance Task</h2>
<div mat-dialog-content class="mat-typography">
    <mat-form-field>
        <mat-label>Select Maintenance Type:</mat-label>
        <mat-select [(ngModel)]="typeSelected"  (selectionChange)="selectedType($event.value)">
         
          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
</div> -->

<!-- <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
 </div> -->